<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password</title>
</head>
<body>
    <center>
       <form action="{%url 'trainer_forget_password' %}" method="post">
        {%csrf_token%}
        <label for="un">Enter the Username id : </label>
        <input type="text" name="username" id="un">

        <input type="submit" value="send otp">
       </form>
    </center>
</body>
</html>